# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.eggs/
build/
dist/
*.spec


venv/
.env/
env/
.venv/
ENV/
forge/
*.conda/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log
logs/
debug.log

data/*.json
*.csv
*.xlsx
*.tmp

config.json
admins.json
receipts.json
*.env

*.bak
*.old
